.root {
	-fx-background-color: #ffffff;
	-fx-font-family: "Arial";
	-fx-font-size: 14pt;
	-fx-padding: 20;
	-fx-alignment: center-left;
}

.button {
	-fx-background-color: linear-gradient(#80ff80, #7ea778);
	
}

.button:hover {
	-fx-background-color: linear-gradient(#80ff80, #727272);
	-fx-border-insets: 20px;
	
}
